@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Passion+One&family=Rampart+One&display=swap');

:root {
    --background: #ffffff;
    --sidebar: #f7f7f7;
    --selected: #ffffff;
    --button: #63bcc9;
    --button-hover: #367e94;
    --button-disabled: #8ea9ad;
    --popup: #f8f0ed;
    --green: rgb(37, 121, 111);
    --yellow: rgb(227, 211, 28);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: grid;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--background);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h3, p {
    margin: 0;
}

input[type=text] {
    border: 1px solid rgb(151, 151, 151);
    border-radius: 8px;
    padding: .25rem .5rem;
}

button {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.error {
    outline: 1px solid red;
}

header {
    /* background-image: linear-gradient(90deg, #33539e, #7facd6, #bf88da, #e8b7d4, #a5678e); */
    background-image: linear-gradient(90deg, #47cacc, #63bcc9, #cdb3d4, #e7b7c8, #ffbe88);
    border-bottom: 2px solid grey;
}

header h1 {
    font-size: 2rem;
    margin: 1rem;
    color: white;
    letter-spacing: 2px;
}

main {
    display: flex;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-size: .8rem;
    background-color: var(--button-hover);
    color: white;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max(25%, 220px);
    background-color: var(--sidebar);
}

#categoryForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    margin-top: 1rem;
}

#categoryForm label {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.catButton {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: left;
    padding: 1.5rem 0 1rem 1rem;
}

.catCloseButtonContainer {
    display: flex;
    align-items: flex-start;
    padding: .5rem;
}

.catContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}

.category {
    display: flex;
}

.category:hover {
    background-color: var(--selected);
}

.categoryContainer li {
    list-style-type: none;
}

.selected {
    background-color: var(--selected);
}

/* Shows */

.display {
    padding: 1rem;
    flex-grow: 1;
    margin-top: 1rem;
}

.tvShowList {
    margin: 1rem 3rem;
    gap: 1rem;
}

.tvShow {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--sidebar);
    border: 1px solid grey;
    padding: .5rem 1rem;
    box-shadow: -2px 2px grey;
  
}

.tvShowCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tvShowHeader {
    flex-grow: 1;
}

.tvShowHeader:hover {
    cursor: pointer;
}

.tvShowDetails {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--app);
}

.popup {
    position: fixed;
    border: 1px solid black;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 1rem;
    box-shadow: -3px 3px var(--purple);
    background-color: var(--popup);
    box-shadow: -3px 3px grey;
}

.addButtonContainer {
   
}

.addButton {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    padding: 0;
    border-radius: 50%;
    background-color: var(--button);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton:hover, .tvShowButtonContainer .closeButton:hover, .editButton:hover {
    transform: scale(1.1);
}

.tvShowForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tvShowForm legend {
    font-size: 2rem;
    padding: 0;
    font-family: 'Passion One', cursive;
}

.formHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.formSection {
    display: flex;
    gap: .5rem;
}

.formSection label {
    width: 10rem;
}

.tvShowForm input[type=text] {
    width: 15rem;
}

.submitButton {
    background-color: var(--button);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: .9rem;
}

.submitButton:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.submitButton:disabled, .submitButton:disabled:hover {
    cursor: auto;
    background-color: var(--button-disabled);
    color: rgb(224, 224, 224);
}

.tvShowButtonContainer {
    display: flex;
    gap: 1rem;
}

.tvShowButtonContainer .closeButton {
    width: 20px;
    background-image: url(./images/delete.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#tvShowSubmit.submitButton, #tvShowEdit.submitButton {
    margin-top: 1rem;
}

.editButton {
    width: 20px;
    background-image: url(./images/pencil.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.closeButtonContainer {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 480px) {

    header h1 {
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    .display {
        margin: 0;
    }

    .sidebar {
        width: 100%;
    }

    .formSection {
        flex-direction: column;
    }

    .catContainer {
        flex-direction: row;
        height: auto;
        width: 100vw;
    }

    .catButton {
        flex-grow: 0;
    }
}
