body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-grow: 1;
}

.category {
    
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categoryContainer li {
    list-style-type: none;
}

.display {
    width: 100%;
}